**/node_modules
Batch_7AM_OCT_2023/public/Oct_19/personal/assignment4.html
Career_useful/SampleResumes/~$sume -UI-Dev.docx
Career_useful/SampleResumes/~$mple_profile.docx
Career_useful/SampleResumes/~$ckyFresherUIResume.docx
Career_useful/SampleResumes/~$bdesigner-fresher.docx
Career_useful/SampleResumes/LuckyFresherUIResume.docx
Batch_7am_Mar_2024/Others/Assignments/SreeLakshmi/A1_StudentDetails/assinment_3_block arangment.html
