<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css"/>
    <link rel="icon" type="image/x-icon" href="../images/favicon.webp">
    <title>Login Page</title>

</head>
<body>
    <header> Welcome to TechKart</header>
    <form class="signup" action="login.html" method="POST">
        <label for="email">Email :</label>
        <input type="email" name="email" placeholder="Enter your email"/>
        <input type="submit" id="resetpsw"  value="Reset">
        
        <a href="login.html">Login</a>
    </form>
    <footer>Copyright&copy;Harsha Vardhan Reddy Bindela</footer>
</body>
</html>