<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.webp">
        <title>Product Details</title>
        <link rel="stylesheet" href="../styles/products.css">
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../controllers/productRating.js"></script>
    </head>
    <body>
        <header> Welcome to TechKart</header>
        <div class="header">Product Details</div>
        <div class="mainBlock">
             <ul class="mainProductDetails">
                
             </ul>
        </div>

        <footer>Copyright&copy;Harsha Vardhan Reddy Bindela</footer>
        <script src="../controllers/productLoading.js"></script>
        
    </body>
</html>