#container{
    width: 25%;
    height: 40vh;
    border: 2px solid;
    overflow: scroll;
}
img {
    height: 100px;
    width: 100px;
    display: block;
    cursor: pointer;
    display: inline;
}
.mydiv{
    border: 2px solid;
    width: 100px;
}
#container-2{
    width: 25%;
    height: 40vh;
    border: 2px solid;
    overflow: scroll;
}
#container-3{
    width: 25%;
    height: 40vh;
    border: 2px solid;
    overflow: scroll;
}
#parent {
    display: flex;
    gap: 5%;
    margin-top: 5%;
}