<!--Carousel Container-->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/INSLGW/WRS/GW/pc_unrec_june_ubs._CB554831429_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/D103625178_DesktopTallHero_3000x1200_V3._CB558389732_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/march/brands/GW/Under_1499_Tallhero_3000x1200._CB561212093_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/June/GW/light_unrec._CB554785944_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img24/Media/BAU/D132995370_Homepage_DesktopHeroTemplate_3000x1200._CB557152260_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/OHL/24/BAU/feb/PC_hero_1_2x_1._CB582889946_.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Cards Container-->
  <div class="cards1">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/186x116_Home_furnishings_2._SY116_CB584596691_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Cushions, bedsheets</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/186x116_Home_decor_1._SY116_CB584596691_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Figurines, vases and more</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/186x116_Home_storage_1._SY116_CB584596691_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Home storage</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/186x116_Home_lighting_2._SY116_CB584596691_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Lightings</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <h4 class="text-body-secondary"><b> revamp your home in style & Design | Starting at ₹399</b></h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Air conditioners</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08345R1ZW._SY116_CB667322346_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Refrigerators</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B07G5J5FYP._SY116_CB667322346_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Microwaves</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/186x116---wm._SY116_CB667322346_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Microwaves</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <h4 class="text-body-secondary"><b>Appliances for your home | Up to 55% off</b></h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/PC_QC_Week19_186_001._SY116_CB557385001_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Starting ₹179 | Home decor</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/QC_PC_186x116_6_PB._SY116_CB560732407_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Up to 60% off | Storage & racks</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/QC_PC_186x116_7_PB._SY116_CB560732407_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Starting ₹99 | Toys & games</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/Symbol/2024/PC_QC/1x_spb._SY116_CB580758260_.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">Up to 60% off | Jackets, dresses & more</small>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <h4 class="text-body-secondary"><b>Items Starting @ <span>&#8377;</span>99</b></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div>products slider</div>
    <div>products cards</div>