.container{
    width: 300px;
    height: 80px;
    margin: 20px auto;
}
#captcha{
    border:1px solid;
    height:20px;
    width:200px;
    text-align:center;
}
button{
    margin-left: 35px;
    background-color: green;
    height:30px;
    width:130px;
}