*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
height: 100vh;
background: linear-gradient(135deg,#5213e4,#d161ff);
}

form{
    width: 70vmin;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 67%;
    left: 50%;
    padding: 40px 0;
}


input[type="text"]{
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid  rgb(100,89,121);
    outline: none;
    border-radius: 5px 5px 0 0 ;
    background-color: #d8b5b5;
    font-size: 16px;
}

input[type="number"]{
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid  rgb(100,89,121);
    outline: none;
    border-radius: 5px 5px 0 0 ;
    background-color: #d8b5b5;
    font-size: 16px;
}


ul{
    list-style:none;
}

.list{
    width:100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px ;
}

.list-items{
    padding: 10px 5px;
}

.list-items:hover{
    background-color: #dddddd;
}

.outputSlip{
    border: 1px solid;
    height: 300px;
    width: 350px;
    background-color: rgb(223, 192, 232);
    display: block;
    position: absolute;
    top: 100px;
    right: 200px;
}
button{
    height: 30px;
    width: 110px;
    font: 700;
    background-color: blueviolet;
    border-radius: 5px;
    position: absolute;
    left: 50px;
    margin: 100px;
    margin-top: 10px;
}
h2{
    text-align: center;
}

.Out{
    margin: 10px;
    font-size:larger;
    font-weight: 700;
    padding: 10px;
}
span{
    color: rgb(26, 75, 180);
}

#maindiv{
    background-color: #f2f2f2;
   border-radius: 5px;
    padding-right: 4rem;
    height: 27rem;
    border: 5px solid;

}
