
body{
    background-image: url("https://img.freepik.com/free-photo/soft-vintage-gradient-blur-background-with-pastel-colored-well-use-as-studio-room-product-presen_1258-54093.jpg?t=st=1719400087~exp=1719403687~hmac=367c310e38cc61098f93d16fa74356c3d3d7b55e25f0e112c1da0265d04b3a4c&w=1380");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    margin: 38px;
    border: 2px solid;
    padding: 10px; 
    text-align: center;
    font-weight: 600;
    background-color: #f6b6ff;
}

.mainBlock{
    border: 2px solid;
    /* padding: 394px; */
    margin: 38px;
    margin-top: -28px;
    position: relative;
    top: 8px;
    /* bottom: 55px;  */
    overflow: auto;
    font-weight: 600;
    background-color: #e5958b00;

    
} 
.footer{
    border: 2px solid;
    padding: 1px; 
    text-align: center;
    position: relative;
    bottom: 1px;
    margin: 38px;
    background-color: #f6b6ff;
    
} 

.StudBlocks > li{
    list-style: none;
    border: 2px solid rgb(75, 46, 46);
    height: 300px;
    width: 283px;
    float: left;
    margin: 26px;
    /* position: relative;
    left: -433px;
    top: -415px;  */
}
.empdetails > li{
    list-style: none;
    margin: 5px;
    padding: 5px;
    position: relative;
    top: 79px;
    left: 83px;
}
.empdetails {
    margin: -81px;
    padding: 15px;
    
}
.empdetails img {
    width: 123px;
    height: 130px;
}