body{
    background-image: url("https://img.freepik.com/free-photo/fog-dark-clouds-mountains_1204-503.jpg?t=st=1719293298~exp=1719296898~hmac=f5c70b1f4307c0cde98eab2d0686feae21b3d2f128a2788323bc91186fbb68fb&w=1380");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    border: 3px solid #2d6c17;
    width: 470px;
    height: 410px;
    position: relative;
    left: 684px;
    top: 210px;
    background-color: #3e6419a1;
    border-radius: 66px;
    
}
.container:hover{
    background-color: #456d1da1;
}
h1{
    text-align: center;
    font-style: italic;
    color: white;
}
ul{
    width: 378px;
    height: 314px;
    border: 2px solid #599d3c;
    margin: 20px;
    border-radius: 55px;
    position: relative;
    top: -8px;
}
li{
    list-style: none;
    border: 1px solid;
    padding: 10px;
    margin: 12px;
    background-color: #9cbf6c;
    position: relative;
    left: -20px;
    border-radius: 20px;
}
label{
    width: 100px;
    display: inline-block;
    font-size: larger;
    font-style: italic;
    font-weight: 600;
}
.button{
    background-color: rgb(151, 207, 19);
    color: white;
    width: 96px;
    height: 28px;
    border-radius: 20px;
}
.button:hover{
    background-color: #599d3c;
}
.pwdList{
    width: 380px;
    position: relative;
    left: 1232px;
    top: -47px;
    padding: 13px;
    font-style: italic;
}
.pwdList div{
    background-color: rgb(163, 192, 127);
    margin: 5px;
    padding: 10px;
    color: rgb(8, 8, 8);
}
/* .eyeIcon, .closeEye{
    position: relative;
    left: -25px;
    top: 4px;
} */
.eyeIcon{
    position: relative;
    left: -25px;
    top: 4px;
    cursor: pointer;
}
.slashEye{
    display: none;
}
.validated {
    color: rgb(1, 253, 1) !important;
    font-weight: bold;
    background-color: #6c5117 !important ;
}