.employee {
    border: 1px solid #000;
    padding: 8px;
    margin: 8px;
}

#container {
    border: 1px solid;
    padding: 8px;
    margin: 8px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}

li {
    list-style: none;
    margin-bottom: 4px;
}

ul {
    padding: 0px;
}

img {
    width: 100px;
    height: 100px;
}

li>ul {
    background-color: yellow;
    padding: 8px;
}