li{
    list-style: none  ;
    border:1px solid;
    margin:5px;
    padding:5px;
}
ul{
    width: 500px;
    margin:5px;
    padding:5px;
    margin:auto;
    border:2px solid;
}

h1{
    text-align: center;
}
th,tr{
    text-align: center;
    padding-left: 10px;
    border:1px solid;
    padding:20px;
    margin:20px
}

#userTable{
    padding-left: 50px;
     padding-inline-start: 300px;
}