.main {
    margin: 50px auto;
    border: 2px solid black;
    width: 40%;
    padding: 10px;
    background-color: lightgreen;
}
.main ul{
    list-style: none;
}
ul li {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
}
.hidden{
    display: none;
}
.nameErr{
    color: red;
    font-size: 12px;
    display: none;
}